
.ipynb_checkpoints/CRSP Prices DATA EXTRACTION-checkpoint.ipynb
.ipynb_checkpoints/Basic Momentum Strategy-checkpoint.ipynb
.ipynb_checkpoints/Exploratory Analysis-checkpoint.ipynb
.ipynb_checkpoints/LSTM with TensorFlow-checkpoint.ipynb
Approval Rafik.pdf
Checklist.pdf
MRP Proposal Approval Form_2019.pdf
MSc_Data Science_Major_Research_Project_Guidelines_2019.pdf
student_supervisor_checklist_july18.pdf
~$oposal.docx
~$pirical Asset Pricing via Machine Learning for Canadian Equities Market.docx
